.taskWindow{
  left: auto;
  width: 95%;
  max-width: 600px;
  margin-right: -20px;
  margin-top: @triangle-size;
  border-radius: @border-radius;
  padding: (@border-radius + 5px);

  .dropdown-menu-triangle-right(@triangle-size, 12px);
}