@font-face {
  font-family: "PF DinDisplay Pro Light";
  src: url('fonts/pfdindisplaypro-light-webfont.eot');
  src: url('fonts/pfdindisplaypro-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pfdindisplaypro-light-webfont.woff') format('woff'), url('fonts/pfdindisplaypro-light-webfont.ttf') format('truetype'), url('fonts/pfdindisplaypro-light-webfont.svg#pf_dindisplay_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "PF DinDisplay Pro Light", Verdana, Arial, Helvetica, sans-serif;
}
.taskDirective .task-isFinished-container {
  float: left;
  padding: 5px 20px 5px 10px;
}
.taskDirective .task-text-dueTime-buttons-container {
  overflow: hidden;
}
.taskDirective .task-text {
  font-size: 33.333px;
  line-height: 1.125;
}
.taskDirective .task-dueTime {
  font-size: 20.833px;
  line-height: 1.8;
}
.taskDirective .task-text textarea {
  width: 100%;
}
.taskDirective .task-buttons {
  float: right;
  font-size: 20.833px;
}
.taskDirective.task-status-finished .task-text {
  color: #a8a8a8;
}
.taskDirective.task-status-finished .task-dueTime {
  color: #9ec54d;
}
.taskDirective.task-status-today .task-dueTime {
  color: #61acec;
}
.taskDirective.task-status-later .task-dueTime {
  color: #a8a8a8;
}
.taskDirective.task-status-overdue .task-dueTime {
  color: #e55c9a;
}
.taskDirective .task-hideButton,
.taskDirective .task-editButton {
  display: none;
}
.taskDirective:hover .task-hideButton,
.taskDirective:hover .task-editButton {
  display: inline;
}
.taskDirective i.task-iconCheck {
  display: block;
  width: 25px;
  height: 25px;
  background: url("components/task/task-directive/icons/icon-check.png") center no-repeat;
  background-size: cover;
  opacity: 0.3;
}
.taskDirective i.task-iconUnCheck {
  display: block;
  width: 25px;
  height: 25px;
  background: url("components/task/task-directive/icons/icon-uncheck.png") center no-repeat;
  background-size: cover;
  opacity: 0.7;
}
.taskWindow {
  left: auto;
  width: 95%;
  max-width: 600px;
  margin-right: -20px;
  margin-top: 25px;
  border-radius: 10px;
  padding: 15px;
}
.taskWindow::before {
  position: absolute;
  top: -25px;
  display: inline-block;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #cccccc;
  border-left: 25px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.taskWindow::after {
  position: absolute;
  top: -24px;
  display: inline-block;
  border-right: 24px solid transparent;
  border-bottom: 24px solid #ffffff;
  border-left: 24px solid transparent;
  content: '';
}
.taskWindow::before {
  right: 12px;
}
.taskWindow::after {
  right: 13px;
}
.tasksList .taskList-nowTime {
  text-align: right;
  font-size: 16.667px;
  color: #373737;
  line-height: 2.25;
}
.tasksList .taskDirective {
  padding-top: 15px;
}
.topMenu {
  height: 90px;
  padding: 17px 0px;
  background-color: #bfbfbf;
  border-bottom: 1px solid #bcbcbc;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.topMenu .topMenu-search-container,
.topMenu .topMenu-buttons-container {
  display: inline-block;
}
.topMenu .topMenu-search-container {
  width: 70%;
}
.topMenu .topMenu-buttons-container {
  width: 29%;
  float: right;
  padding-right: 15px;
}
.topMenu .topMenu-buttons-container > * {
  display: inline-block;
  float: right;
}
.search > .form-control {
  font-size: 33.333px;
  color: #373737;
  line-height: 1.125;
  height: auto;
  padding-left: 56px;
  border-radius: 10px;
  background: url("search/search-directive/icon-search.png") no-repeat;
  background-color: #e8e8e8;
  background-position: 10px;
}
.search > .form-control:focus,
.search > .form-control:active {
  background-color: #ffffff;
}
.search > .dropdown-menu {
  margin-top: 25px;
  border-radius: 10px;
  padding: 15px;
}
.search > .dropdown-menu::before {
  position: absolute;
  top: -25px;
  display: inline-block;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #cccccc;
  border-left: 25px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.search > .dropdown-menu::after {
  position: absolute;
  top: -24px;
  display: inline-block;
  border-right: 24px solid transparent;
  border-bottom: 24px solid #ffffff;
  border-left: 24px solid transparent;
  content: '';
}
.search > .dropdown-menu::before {
  left: 43.5px;
}
.search > .dropdown-menu::after {
  left: 44.5px;
}
.search > .dropdown-menu > .search-scroll {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 200px;
  overflow-y: scroll;
}
.search > .dropdown-menu > .search-scroll > * {
  padding: 10px 0;
}
.search > .dropdown-menu > .search-scroll > *:not(:last-child) {
  border-bottom: 1px solid;
}
.search > .dropdown-menu > .search-scroll > *.active {
  background-color: #4260c2;
}
.search > .dropdown-menu > .search-scroll > *.active .searchTaskTypeahead-text {
  color: #ffffff;
}
.searchTaskTypeahead {
  padding: 0 5px;
}
.searchTaskTypeahead .searchTaskTypeahead-text {
  font-size: 20.833px;
}
.searchTaskTypeahead .searchTaskTypeahead-dueTime {
  font-size: 12.5px;
}
.searchTaskTypeahead.searchTaskTypeahead-status-finished .searchTaskTypeahead-text {
  color: #a8a8a8;
}
.searchTaskTypeahead.searchTaskTypeahead-status-finished .searchTaskTypeahead-dueTime {
  color: #9ec54d;
}
.searchTaskTypeahead.searchTaskTypeahead-status-today .searchTaskTypeahead-dueTime {
  color: #61acec;
}
.searchTaskTypeahead.searchTaskTypeahead-status-later .searchTaskTypeahead-dueTime {
  color: #a8a8a8;
}
.searchTaskTypeahead.searchTaskTypeahead-status-overdue .searchTaskTypeahead-dueTime {
  color: #e55c9a;
}
.typeaheadUnderline {
  text-decoration: underline;
}
.addNewTaskButton > .addNewTaskButton-iconPlus {
  display: block;
  width: 32px;
  height: 32px;
  background: url("add-new-task/icon-plus.png") center no-repeat;
  background-size: cover;
  margin: 12px 0px;
  opacity: 0.37;
}
.addNewTaskButton > .taskWindow .task-cancelButton {
  display: none;
}
