.taskDirective{
  @icon-size: 25px;

  .icon(@url, @size){
    display: block;
    width: @size;
    height: @size;
    background: url(@url) center no-repeat;
    background-size: cover;
  }

  & .task-isFinished-container{
    float: left;
    padding: 5px 20px 5px 10px;
  }
  & .task-text-dueTime-buttons-container{
    overflow: hidden;
  }

  & .task-text{
    font-size: @font-size-lg;
    line-height: 1.125;
  }
  & .task-dueTime{
    font-size: @font-size-md;
    line-height: 1.8
  }

  & .task-text textarea{
    width: 100%;
  }

  & .task-buttons{
    float: right;
    font-size: @font-size-md;
  }

  &.task-status-finished{
    & .task-text{
      color: @silver-color;
    }
    & .task-dueTime{
      color: @green-color;
    }
  }
  &.task-status-today .task-dueTime{
    color: @blue-color;
  }
  &.task-status-later .task-dueTime{
    color: @silver-color;
  }
  &.task-status-overdue .task-dueTime{
    color: @red-color;
  }

  & .task-hideButton,
  & .task-editButton,{
    display: none;
  }

  &:hover .task-hideButton,
  &:hover .task-editButton{
    display: inline;
  }

  & i.task-icon{
    &Check{
      .icon("./icons/icon-check.png", @icon-size);
      opacity: 0.3;
    }
    &UnCheck{
      .icon("./icons/icon-uncheck.png", @icon-size);
      opacity: 0.7;
    }
  }
}